body {
  background: rgb(255,48,48);
  background: linear-gradient(180deg,
   rgba(255,48,48,1) 0%,
    rgba(255,50,50,1) 7%, rgba(255,186,186,1) 100%);
}

#root {
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  height: 70px;
  
}

header nav{ 
  display: flex;
  justify-content: space-between;
  width: 100%;

}


header nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  transition: border-color 0.60s ease;
  border-bottom: 5px solid transparent;
}
header nav a:hover {
  border-bottom: 5px solid rgb(255, 255, 255) ;
  border-radius: 50%;
}

main{
  display: flex;
  flex: 1;
  justify-content: center;
}

section{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.18);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(255, 255, 255, 0.29);
 width: 75%;
 padding: 20px;
 color: #fff;
 font-family: Arial, Helvetica, sans-serif;
}

input{
  border: 0;
  border-bottom: 2px solid #fafafa;
  border-radius: 3px;
  height: 20px;
  font-size: 1.2em;
  padding: 5px;
  margin: 5px;
  background-color: #fff;
  outline: none;
  color: #070707;
  width: 80%;
}

button{
  background-color: #fff ;
  color: #000000;
  padding: 12px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.2em;
  margin: 10px 0;
  width: 99%;
}
button:hover{
  background-color: rgba(18, 211, 1, 0.815) ;
  color: #fff; 
}